@font-face {
    font-family: 'NanumDongHwaDdoBag';
    src : 
        url("../assets/fonts/NanumDongHwaDdoBag.woff2") format("woff2"),
        url("../assets/fonts/NanumDongHwaDdoBag.woff") format("woff"),
        url("../assets/fonts/NanumDongHwaDdoBag.ttf") format("truetype");
    font-display : block;
}

